@model ProductDTO
@{

}
<div class="container col-sm-8 col-lg-4">
    <h2 class="mb-4">@(Model.Id != null ? "Register new Product" : $"Updating product {Model.Name}") </h2>
    <form asp-action="Register">
        <input type="hidden" asp-for="@Model.Id">
        <div class="mb-3">
            <label asp-for="Name" class="form-label col-sm-8 col-lg-4">Name</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Type the product name" required>
            <span class="text-danger" asp-validation-for="@Model.Name"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Price" class="form-label">Price</label>
            <input asp-for="Price" id="price" type="text" class="form-control" placeholder="$00.00">
            <span class="text-danger" asp-validation-for="@Model.Price"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ImageUrl" class="form-label">Image Link</label>
            <input asp-for="ImageUrl" type="text" class="form-control"
                placeholder="Paste here the link for the product image">
            <span class="text-danger" asp-validation-for="@Model.ImageUrl"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Stock" class="form-label">Stock</label>
            <input asp-for="Stock" type="number" class="form-control" placeholder="Type the stock quantity" required>
            <span class="text-danger" asp-validation-for="@Model.Stock"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId" class="form-label">Category</label>
            <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories" required></select>
            <span class="text-danger" asp-validation-for="@Model.CategoryId"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <textarea asp-for="Description" class="form-control" rows="4" placeholder="Product description"
                required></textarea>
            <span class="text-danger" asp-validation-for="@Model.Description"></span>
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
        <a asp-action="Index" asp-controller="Product" class="btn btn-danger">Voltar</a>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("price").addEventListener("input", function () {
            console.log(this.value);
            this.value = this.value.replace(",", ".");
        })
    })
</script>
